/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
.flex-container {
  display: flex;
  flex-wrap: wrap;

  margin: 5rem;
}


div > div {
  height: 50px;
  width: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-size: 3rem;
}

label, input, select, button {
  font-size: 1.8rem;
}
